html, body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #1E293B;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
}

.text {
  z-index: 1;
  color: #F1F5F9;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.text p {
  margin: 0.5rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #94A3B8;
}

.link:hover {
  text-decoration: underline;
  color: #64748B;
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
}
